noticia.css
/*-----------RESET----------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== VARIÁVEIS ==== */
:root{
    /* === CORES PRINCIPAIS === */
    --Background:#D3D2D2;
    --Primária:#224021; /* Verde principal - natureza */
    --Verde-claro:#76C363; /* Verde mais leve - regiões */
    --Verde-floresta:#337D1E; /*Verde escuro - fundo de notícia, e titúlos*/
    --Verde-folha:#67AC56; /* Verde suave - chat*/
    --Verde-mato: #1F5C23; /* Verde escuro - início do gradiente */
    --Verde-lima: #61BE6F; /* Verde claro - fim do gradiente */
    --Verde-musgo-claro:#85BC61; /* Verde suave, inspirado em folhas frescas */
    --Azul-ceu: #91BED4;  /* Azul suave - inspirado no céu claro */
    --Azul-noite: #304269;  /* Azul escuro - inspirado no céu noturno */


    /* === CORES DE APOIO === */
    --Preto:#000000;
    --Branco:#FFFFFF;
    --Sucess:#1BE071;
    --Warning:#F47E08;
    --Danger:#FF0000;

    /* === GRADIENTES === */
    --gradiente-floresta: linear-gradient(to right, var(--Verde-mato), var(--Verde-lima));
    --gradiente-nevoa-verde: linear-gradient(to bottom, var(--Background), var(--Verde-musgo-claro));   
    --gradiente-azul: linear-gradient(to bottom, var(--Azul-noite), var(--Azul-ceu));  

    /* === TIPOGRAFIA ===*/
    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-InstrumentSans: "Instrument Sans", sans-serif;
    --ff-Megrim: "Megrim", system-ui;
    --ff-MontaguSlab: "Montagu Slab", serif;

    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.7rem;
    --fs-5: 1.6rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-f8: 1.2rem;

    --weight-regular: 400;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* === ESPAÇO === */
    --section-spacing: 60px;

    /* === BODER RADIUS === */
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-3: 3px;

    /* === SOMBRAS === */
    --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);
    --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
    --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  
    /*==== TRANSIÇÃO ====*/
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  
    /*==== CLIP PATH ====*/
    --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
    --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
    --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
    --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
    --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.fundo {
    background: linear-gradient(180deg, #D9D9D9 0%, #85BC61 100%);
    padding-bottom: 50px;
}

/* Cabeçalho */
.noticia {
    background-color: #0F2E12;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    height: 100px;
    
}

.logo {
    height: 90px;
}

.hora {
    font-size: 18px;
}

.data {
    font-size: 16px;
}

/* Conteúdo Principal */
.conteudo {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Título */
.title {
    color: #337D1E;
    font-family: Montserrat, sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.2;
}

/* Subtexto */
.subtexto {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #222;
    font-family: Montserrat, sans-serif;
}

/* Imagem principal */
.imgnot {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

/* Seção verde */
.principal {
    border-radius: 20px;
    background: #337D1E;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 4px
}

.principal img {
    border-radius: 15px;
    height: 30px;
    height: 250px;
    padding: 8px;
    justify-content: center;
}

.principal h3 {
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 30px;
}

.principal p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.815%; /* 35.326px */
}
