body {
    background: var(--Gradiente-fundo-pginas, linear-gradient(90deg, #1F5C23 38.94%, #61BE6F 100%));
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #dcd0d0;
    padding: 60px;
    border-radius: 3px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }